.wrapper{
    max-width: 1280px;
    padding: 60px 100px 30px;
    margin: auto;
    font-family: "Roboto";
}

/* Header */

.site-header {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 5rem;
    margin-bottom: 2.5rem;
}

.site-header>span{
    color: #4BCAFF;
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-menu>li {
    padding: 1.5rem 2rem 1.5rem;
    font-size: 1.5rem;
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin-right: -1px;
    color: white;
}

.menu-li{
    text-decoration: none;
    color: inherit;
}

.header-menu>li:hover {
    background-color: #222F3A;
}

/* Main */

.content {
    margin: 3rem 0;
    display: flex;
}

/* Aside */

.menu-aside {
    max-width: fit-content;
    margin-right: 3rem;
}

.left-menu {
    width: 22rem;
    color: #485863;
    border: 1px solid #000000;
}

.left-menu>li {
    padding: 1.5rem 0 1.5rem 2.8rem;
    transition: padding-left 0.3s;
    font-size: 1.7rem;
    color: #485863;
}

.left-menu>li:hover {
    color: black;
    background-color: #DBDBDB;
    padding-left: 4rem;
    transition: padding-left 0.3s;
}

/* Content section */

.image-container {
    display: flex;
    justify-content: center;
    padding: 75px 0;
    border: 1px solid black;
    overflow: hidden;
}

.ramda-logo {
    transition: transform 0.3s;
}

.ramda-logo:hover {
    transform: scale(1.15);
    transition: transform 0.3s;
}

.description {
    font-size: 1.125rem;
    margin-top: 2rem;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2.5rem;
    background-color: #63696E7A;
}

.footer-menu {
    display: flex;
}

.footer-menu>li {
    font-size: 1.75rem;
    margin-right: 1.5rem;
}

.footer-menu>li:hover {
    color: #3181A6;
    text-decoration: underline 1px #3181A6;
    text-underline-offset: 0.6rem;
}

.copyright {
    margin: auto 0;
    font-size: 1.5rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper.dark-mode {
    background-color: #393646;
    color: white;
    #change-theme {
        background-color: #000000;
        color: white;
    }
    .head {
        background-color: #393646;
    }
    .left-menu {
        border-color: white;
        color: white;
    }
    .menu-li {
        color: white;
    }
    .image-container {
        background-color: white;
    }
    
}